{% extends "parent.html" %}

{% block title %} Stock Results {% endblock %}

{% block content %}

<form action = "/stockResearch">
  <div class="center"><button type="submit" class="btn btn-warning" id="back_btn">Back to search</button></div>
</form>

{% for each in companyInfo %}
{{ each }}
  {% if not companyInfo[each][1][1] %}
  <form action = "/changeWatchlist">
    <div class="center"><button type="submit" class="btn btn-warning" id="add_btn" name = {{companyInfo[each][1][0]}} value = "Add to watchlist"> Add to Watchlist</button></div>
  </form>
  {% else %}
  <form action = "/changeWatchlist">
    <div class="center"><button type="submit" class="btn btn-warning" id="remove_btn" name = {{companyInfo[each][1][0]}} value = "Remove from watchlist"> Remove from Watchlist</button></div>
  </form>
  {% endif %}
<br>
{% endfor %}

{% endblock %}
