{% extends "parent.html" %}

{% block content %}
    <form action = "/stockResearch">
      <div class="center">
	<button type="submit" class="btn btn-danger" id="back_btn">Return</button>
      </div>
    </form>

    {% for each in companyInfo %}

    <h2> {{ each }} </h2><br>

<b> Latest Price: {{ companyInfo[each][0]["iexRealtimePrice"] }} </b> <br>
Low:{{ companyInfo[each][0]["low"] }} <br>
High: {{ companyInfo[each][0]["high"] }} <br>
Volume : [ {{ companyInfo[each][0]["latestVolume"] }} ] <br>
Yield: {{ companyInfo[each][0]["ytdChange"] }} <br>

    <form action = "/changeWatchlist">
      <div class="form-group">
	{% if not companyInfo[each][1][1] %}
	<button type="submit" class="btn btn-danger" id="add_btn" name = {{companyInfo[each][1][0]}} value = "Add to watchlist">Add to Watchlist</button>
	{% else %}
	<button type="submit" class="btn btn-danger" id="remove_btn" name = {{companyInfo[each][1][0]}} value = "Remove from watchlist">Remove from Watchlist</button>
	{% endif %}
      </div>
    </form>
    {% endfor %}
{% endblock %}
