{% extends "parent.html" %}

{% block content %}
<div class="table-responsive">
  <table class="table table-hover text-center align-text-middle" width="100%">
    <thead>
      <tr class="bg-danger text-white">
	<th>Company</th>
	<th>Latest Price</th>
	<th>Low</th>
	<th>High</th>
	<th>Volume</th>
	<th>Yield</th>
	<th> </th>
	<th> </th>
	<th> </th>
      </tr>
    </thead>
    <tbody>
      {% for each in companyInfo %}
      <tr>
	<th> {{ each }} </th>
	<td> {{ companyInfo[each][0]["latestPrice"] }} </td>
	<td> {{ companyInfo[each][0]["low"] }} </td>
	<td> {{ companyInfo[each][0]["high"] }} </td>
	<td> {{ companyInfo[each][0]["latestVolume"] }} </td>
	<td> {{ companyInfo[each][0]["ytdChange"] }}% </td>
	<td>
	  <form action = "/changeWatchlist">
	    <div class="form-group">
	      {% if not companyInfo[each][1][1] %}
	      <button type="submit" class="btn btn-outline-danger btn-sm" id="add_btn" name = {{companyInfo[each][1][0]}} value = "Add to watchlist">Add to Watchlist</button>
	      {% else %}
	      <button type="submit" class="btn btn-outline-danger btn-sm" id="remove_btn" name = {{companyInfo[each][1][0]}} value = "Remove from watchlist">Remove from Watchlist</button>
	      {% endif %}
	    </div>
	  </form>
	</td>
	<td colspan="2">
	  <form action = "/buyStock">
	    <div class="form-group row">
	      <div class="col-5">
		<input type="number" name="stock_buy" class="form-control input-sm" id="Stock_buy">
              </div>
	      <button type="submit" class="btn btn-outline-danger btn-sm" id="buy_btn" name = {{companyInfo[each][0]["symbol"]}}|~~|{{companyInfo[each][0]["latestPrice"]}}|~~|{{companyInfo[each][1][0]}} value = "Buy Stock">Buy Stock</button>
	    </div>
	  </form>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<form action = "/stockResearch">
  <div class="center">
    <button type="submit" class="btn btn-danger" id="back_btn">Return</button>
  </div>
</form>
{% endblock %}
